site:
  title: Rancher Turtles
  url: /
  start_page: v0.26@cluster-api:en:index.adoc

content:
  sources:
    - url: ./
      start_paths: [versions/v0.26]
      branches: HEAD
      
# Description: SUSE UI bundle
ui:
  bundle:
    url: https://github.com/SUSEdoc/dsc-style-bundle/blob/main/default-ui/ui-bundle.zip?raw=true
    snapshot: true
  supplemental_files: ./dsc-style-bundle/supplemental-files/rancher

asciidoc:
  attributes:
    build-type: product
    page-pagination: ''
    page-toclevels: 4@
    tabs-sync-option: ''
  extensions:
    - '@asciidoctor/tabs'
antora:
  extensions:
  - require: '@antora/lunr-extension'
  - require: '@springio/antora-xref-extension'
  - require: ./product-docs-common/extensions/dynamic-loading-attributes/load-global-site-attributes.js
    attributefile: ./product-docs-common/global-attributes.yml
    enabled: true
  - require: ./product-docs-common/extensions/versions-latest-prerelease/vlp.js
    enabled: true

output:
  dir: build/site-dev-product
